/* アニメーションエフェクトに関するCSS */

    /* クリック時に拡大 */
    .be-big-click {
        transition-duration: .3s;
    }
    .be-big-click:active {
        transform: scale(1.1);
    }

    /* ホバー時に拡大 */
    .be-big-lg {
        transition-duration: .3s;
    }
    .be-big-lg:hover {
        transform: scale(1.1);
    }
    .be-big-sm {
        transition-duration: .3s;
    }
    .be-big-sm:hover {
        transform: scale(1.02);
    }

    /* ホバー時に文字間隔を開ける */
    .make-letters-distance {
        transition-duration: .2s;
    }
    .make-letters-distance:hover {
        letter-spacing: 0.10em;
    }